*.xml
RestAPI/Car/__pycache__
RestAPI/Controllers/__pycache__
RestAPI/Database/__pycache__
RestAPI/Repositories/CarsRepos/__pycache__
*.iml
CloudProject/CloudProject/API/obj
CloudProject/CloudProject/Application/obj
CloudProject/CloudProject/Domain/obj
CloudProject/CloudProject/Infrastructure/bin
CloudProject/CloudProject/Infrastructure/obj
CloudProject/CloudProject/Domain/bin
