@page "/add-car"
@using Frontend.ViewModels
@inject HttpClient _httpClient
<h3>Add a new Car</h3>


<EditForm Model="carPostDto" OnValidSubmit="PostCar">



    <div class="form-group">
        <label for="name">Name:</label>
        <InputText id="name" @bind-Value="carPostDto.name" class="form-control"/>
    </div>
    <div class="form-group">
        <label for="speed">Speed:</label>
        <InputNumber id="speed" @bind-Value="carPostDto.speed" class="form-control"/>
    </div>
    <div class="form-group">
        <label for="year">Year:</label>
        <InputNumber id="year" @bind-Value="carPostDto.year" class="form-control"/>
    </div>
<button type="submit" class="btn btn-primary">Add car</button>
</EditForm>
@if (!string.IsNullOrEmpty(_errorMessage))
{
    <div class="alert alert-danger mt-1 " role="alert">
        <div class=" d-flex justify-content-between align-items-center">
            <div>
                <i class="fas fa-exclamation-circle"></i>
                <span class="ms-2 fw-bold">@_errorMessage</span>
            </div>
            <div>
                <button type="button" class="btn-close" data-bs-dismiss="alert" onclick="@CloseBtn" aria-label="Close"></button>
            </div>
        </div>
    </div>
}

@if (!string.IsNullOrEmpty(_successMessage))
{
    <div class="alert-success  mt-1 " role="alert">
        <div class=" d-flex justify-content-between align-items-center">
            <div>
                <i class="fas fa-exclamation-circle"></i>
                <span class="ms-2 fw-bold">@_successMessage</span>
            </div>
            <div>
                <button type="button" class="btn-close" data-bs-dismiss="alert" onclick="@CloseBtn" aria-label="Close"></button>
            </div>
        </div>
    </div>


}

@code {

    private readonly CarPostDTO carPostDto = new();
    private string _errorMessage { get; set; } = "";
    private string _successMessage { get; set; } = "";


    public async Task PostCar()
    {
        var response = await _httpClient.PostAsJsonAsync("http://localhost:5127/api/v1/Car", carPostDto);
        if (response.IsSuccessStatusCode)
        {
            _successMessage = "Car added successfully";
        }
        else
        {
            _errorMessage = "Error adding car";
        }
    }

    // protected override async Task<Task> OnInitializedAsync()
    // {
    //     await PostDriver();
    //
    //     return base.OnInitializedAsync();
    // }

    private void CloseBtn()
    {
        _errorMessage = "";
        _successMessage = "";
    }


}